@import url('fonts.css');

/* ------------------ CSS Reset ------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------ Variables ------------------ */
:root{
    --primary-fonts: "Royal Primary Fonts", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --secondary-fonts: "Lexend Deca", cursive;
    --headline-fonts: Anton, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --btn-fonts: Livvic, sans-serif;
    
    --white: #ffffff;
    --text-light: rgba(104, 102, 102, 0.855);
    --text-dark: #3f4954;
    --dark-bg: #0f0f0f;
    --black: #000000;

    --nav-hover: #104f55;
    --gradient: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/* ------------------ Global Classes ------------------ */
body{
    font-family: var(--primary-fonts);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}


/* ------------------ Navbar ------------------ */
nav{
    background-color: blanchedalmond;
    padding: 0 25px;
    height: 5rem;
    overflow: hidden;
    transition: 0.3s;
}
.show-nav{
    height: 28rem;
}
nav a{
    color: var(--text-dark);
}

.upper-nav{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-logo{
    font-family: var(--secondary-fonts);
}

.nav-menu{
    padding: 0 3rem;
}
.nav-menu li{
    padding: 1rem 0;
}
.nav-menu li:hover{
    background-color: var(--nav-hover);
}

.nav-link{
    font-size: 1.1rem;
}
.nav-menu li:hover .nav-link{
    color: var(--white);
}

.social{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
.social-icon{
    font-size: 1.2rem;
}

/* ------------------ Banner ------------------ */
.banner{
    height: 40rem;
    position: relative;
    overflow: hidden;
    color: var(--white);
    text-align: center;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('/assets/pexels-deva-darshan.jpg') top left/1100px no-repeat;
    z-index: -1;
}

.banner h2{
    font-family: var(--primary-fonts);
    font-size: 1.3rem;
    margin-top: 10rem;
}
.banner h3{
    font-size: ;
}

#wave{
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 1000px;
    width: 100%;
}


/* ------------------ Media Queries ------------------ */

@media (min-width: 768px){
    nav{
        display: flex;
        justify-content: space-between;
    }
    .bar-icon{
        display: none;
    }
    .nav-menu{
        padding: 0;
        display: flex;
        align-items: center;
    }
    .nav-menu li{
        height: 100%;
        padding: 1.8rem 1rem 0;
    }    
}

@media (min-width: 1000px){
    .banner::before{
        background-size: 100vw;
    }
}

@media (min-width: 1200px){
    #wave{
        bottom: -60px;
    }
}

@media (min-width: 1400px){
    #wave{
        bottom: -120px;
    }
}